<section class="filters">
    <div class="outer-container">
        {{#link-to 'events' ''}}
            All
        {{/link-to}}
        {{#each state in controller.allStatesAsList}}
            {{#link-to 'events' state.key}}
                {{state.value}}
            {{/link-to}}
        {{/each}}
    </div>
</section>

<section class="events">
    <div class="outer-container">

        {{#each}}
            <div class="event">
                <div class="hover-tile-outer">
                    {{{get-state city state}}}
                    <div class="hover-tile-container"
                         style="background: url('danceoff.jpg'); background-position: top; background-size: cover">
                        <div class="hover-tile hover-tile-visible">
                            <span class="title">{{title}}</span><br><br>
                            <span class="date">{{format-date date}}</span>
                        </div>
                        <div class="hover-tile hover-tile-hidden">
                            <div>
                                {{#each tags}}<span class="badge-tag">{{name}}</span> {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>
</section>


<section class="create-event">
    <div class="outer-container">
        <fieldset>
            <form {{action "createEvent" on="submit"}}>
                <h1>Heard about an Event? Share it!</h1><br>

                <div class="name-box">
                    <span class="field-description">Name</span>
                    {{input type="text" id="title" placeholder="Whats the name of the event?" value=newTitle}}
                </div>
                <div class="date-box">
                    <span class="field-description">Date</span>
                    {{input type="date" id="date" value=newDate}}
                </div>
                <div class="city-box">
                    <span class="field-description">City</span>
                    {{input type="text" id="city" value=newCity}}
                </div>
                <div class="state-box">
                    <span class="field-description">State</span>
                    {{view "select" content=controller.allStatesAsList optionValuePath="content.key" optionLabelPath="content.value" value=newState}}
                </div>
                <div class="tag-row">
                    <div class="tag-field">
                        <span class="field-description">Tags</span>
                        {{input type="text" id="tag" value=newTag}}
                    </div>
                    <div class="tag-add">
                        <button class="tag-add-button" {{action 'addTag'}}>+ add</button>
                    </div>
                    <div class="current-tags">
                        {{#each tag in controller.currentTags}}<span class="badge-tag">{{tag}}</span> {{/each}}
                    </div>
                </div>
                <div class="create-event">
                    <button id="create-button" type="submit">Share!</button>
                </div>
            </form>
        </fieldset>
    </div>
</section>

